*{
    margin: 0;
    padding: 0;
}
body{
    background: #f6f6f6;
    font-family: 'lato',sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/t.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    
    justify-content:center;
    background:url(img/t.jpg);
    color:  #0084ff;
    font-size: 24px;
    padding: 20px 0;


}
nav ul li{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    position:sticky;
    top: 0;

}
li{
    list-style-type: none;
    margin: 0 9rem;
    text-decoration: none;
    color: #fff;
    font-size:larger;
    cursor: pointer;
}
header li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

header span{
    color:  white;
}
main{
    background: #fff;
    padding: 0 30px 30px;

}
main .page-title{
    font-size: 40px;
    padding: 50px;
    text-align: center;
}
.content{
    display: flex;
}
section{
    flex: 1;
}

table{
    width: 100%;
    border-collapse: collapse;
}
thead{

}
tr{
    border-bottom: 3px solid #eee;

}
th{
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}
.product{
    display: flex;
    align-items: center;
}
.info{
    margin-left: 20px;
}
.name{
    font-size: 20px;margin-bottom: 10px;
}
.category{
    color: #666;
}
tbody .tr{
    border-bottom:  3px solid #eee;
  
}
tbody .td{
    padding: 30px 0;
}
.remove{
    background: #eee;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.remove :hover{
    background: #ddd;
}
button{
    cursor: pointer;
    border: 0;
}

.qty{
    background: #eee;
    display: inline-flex;
    padding: 0 0;
    justify-content: space-around;
    min-width: 60px;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}
.qty button{
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;
}
.qty button :hover{
    background: #ddd;
}
span{
    margin: 0 10px;
}
aside{
    background:;
    min-width: 250px;
    margin-left: 30px;
}
aside button{
    background: green;
    display: block;
    width: 100%;
    border: 0;
    padding: 15px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
aside button:hover{
    background: rgb(110, 194, 110);
}
.box{
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background: #ddd;
}
.box button{
    background: #424242;
   
}
.boxx{
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.info{
    padding: 20px;
    font-size: 16px;
}
.info div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.info div button{
    
    color: green;
    background:url(img/t.jpg);
    border: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
}

footer{
    padding: 15px 20px ;
    background: #ccc;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
footer {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;

}
.socialMidia{
    display: flex;
    justify-content: center;
}


footer p {
    margin: 0;
}


















